#sidebar {
  width: 200px; /* Reduce width */
  background-color: #55254e;
  color: #fff;
  padding: 10px 0; /* Reduce padding */
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 5px;
}
.sidebar-itbank{
  display: flexbox;
  text-align: center;
}
.sidebar-toggle-button{
  background-color: #ca5095;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sidebar-toggle-button:hover{
  background-color: #ff7dc6;
}

.botonPaginaPrincipal {
  display: flex;
  margin: 5px; /* Reduce margin */
}
/* 
.botonPaginaPrincipal button {
  background-color: #ca5095;
  border-radius: 5px; Reduce border-radius 
  padding: 5px 10px; Reduce padding 
} 
*/

.botonPaginaPrincipal a {
  color: #fff;
  text-decoration: none;
  font-size: 14px; /* Reduce font-size */
}

.sidebar-container {
  background-color: #ca5095;
  margin: 5px; /* Reduce margin */
  border-radius: 5px;
}

.sidebar-component {
  background-color: #55254e;
  margin: 5px; /* Reduce margin */
  padding: 5px; /* Reduce padding */
  border-radius: 5px;
}

.component-title {
  text-align: center;
  margin: 0;
  padding: 5px 0; /* Reduce padding */
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar li {
  padding: 5px 0; /* Reduce padding */
  text-align: center;
}

#sidebar li a {
  color: #fff;
  text-decoration: none;
}

#content {
  flex: 1;
  padding: 10px; /* Reduce padding */
}

.botonesSideBar {
  display: block;
  width: 100%;
  padding: 5px; /* Reduce padding */
  border: none;
  border-radius: 5px;
  background-color: #ca5095;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.botonesSideBar:hover{
  background-color: #fff;
  color:#ca5095;
}


h1 {
  margin: 0;
  padding: 10px 0; /* Reduce padding */
  font-size: 20px; /* Reduce font-size */
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  #sidebar {
    width: 100%;
    padding: 5px 0; /* Reduce padding */
  }

  .component-title {
    padding: 3px 0; /* Reduce padding */
  }

  #content {
    padding: 5px; /* Reduce padding */
  }
}